body{
  padding: 20px;
}
h1{

  font-size: 60px;
}
.bar{

  font-size: 30px;
}
h3{
  font-size: 30px;

}
p{
  font-size: 15px;

}
div{
  display: flex;

  padding-bottom: 20px;
}
.header{
  background: #cccccc;
  padding: 5px;
}

td{
  padding: 10px;
}
table, th, td{
  border: 1px solid black;
}
button{
  padding: 5px;
}
.go_to_reservation_system{
  padding: 20px;
}
